#topNav {
  background: black;
  box-shadow: 0px 1px 10px 10px green;
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav > ul > li {
  display: inline;
}
#topNav > ul > li > a
{
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;

  transition: color 0.3s ease-in;
}
#topNav > ul > li > a:hover {
  color: lime;
}
@font-face {
  font-family: 'ms-sans-serif';
  src: url(https://thomasmaynard.github.io/Game/fonts/ms_sans_serif.woff);
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
.greentext {
   color: green;
} 
.whitetext {
   color: white;
} 
#Thomas{
}
#Devon{
}
#Rene{
}
